@using WebApplication11.Models
@model FurnitureViewModel

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <a href="/furniture/showadd" class="btn btn-primary btn-block">Add</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Color</th>
                            <th>Price</th>
                            <th>Quantity In Stock</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Furniture furniture in Model.FurnitureItems)
                        {
                            <tr>
                                <td>@furniture.Id</td>
                                <td>@furniture.Name</td>
                                <td>@furniture.Color</td>
                                <td>@furniture.Price.ToString("C")</td>
                                <td>@furniture.QuantityInStock</td>
                                <td>
                                    <a href="/furniture/edit?id=@furniture.Id" class="btn btn-warning">Edit</a>
                                </td>
                                <td>
                                    <form method="post" action="/furniture/delete">
                                        <input type="hidden" name="id" value="@furniture.Id" />
                                        <button class="btn btn-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>